<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background with Overlaying Box</title>
    <!-- CSS 파일 연결 -->
    <link rel="stylesheet" type="text/css" href="/static/css/updateForm.css">
    <link href="/css/nav.css" rel="stylesheet" />
</head>
<body>

<!-- 네비게이션 바 -->
<div th:fragment="nav">
    <div class="main-container">
        <form action="/member/edit/{memberId}" method="post">
            <div class="mainNav">
                <div class="maintitle">
                    <a class="navbar-brand" aria-current="page" href="/">
                        <img src="/img/navlogo.jpg" alt="nav">
                    </a>
                    <div class="navbar-menu" id="menu">
                        <ul class="navbar-nav">
                            <li class="nav-rm"><a class="nav-link" href="/roadmap">RoadMap</a></li>
                            <li class="nav-pt"><a class="nav-link" href="/practice">Practice</a></li>
                            <li class="nav-ct"><a class="nav-link" href="/codingtest">Coding Test</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav">
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <header id="main-header"></header>
        </form> <!-- form 요소 닫기 -->
    </div>
</div>

<div class="container">
    <div class="overlay-box">
        <div class="profile-edit">프로필 수정</div> <!-- 상단 중앙에 세미볼드체로 표현된 "프로필 수정" 텍스트 출력 -->
        <div class="profile-image">
            <img src="/img/mypic.jpg" alt="프로필 사진"> <!-- 150x150 크기의 플레이스홀더 이미지 -->
        </div>
        <div class="profile-info">
            확장자: png, jpg, jpeg / 용량: 1MB 이하
        </div>
        <div class="profile-nickname">
            닉네임
        </div>
        <div class="profile-nickname-info">
            한글, 영문(대소문자), 숫자 조합 / 2~18자 이하
        </div>

        <div class="text-box">
            <form th:action="@{/member/edit/{memberId}(memberId=${member.id})}" method="post">
                <input type="text" name="nickname" placeholder="Edit Nickname">
            </form>
        </div>

        <div class="down-git">
            <div class="image1-container"> <!-- 사진첨부 -->
                <img src="/img/git.png" alt="git 사진" style="width: 50px; height: auto;">
            </div>
            <form th:action="@{/member/edit/{memberId}(memberId=${member.id})}" method="post">
                <input type="text" name="github" placeholder="Edit GitHub info">
            </form>
        </div>

        <div class="final-box">
            <form th:action="@{/member/edit/{memberId}(memberId=${member.id})}" method="post">
                <button type="submit">변경</button>
            </form>
        </div>

        <div class="bar-1"></div>
    </div>
</div>

</body>
</html>
