/*footer css*/
footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* 전체 너비로 확장 */


}
.f-text {
    margin-left: auto;

}

.f-loge{
    margin-right: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 7px;
    vertical-align: middle;
}

.f-loge img{
    width: 30px;
}