<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API 연습</title>
</head>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $("#search").click(function(){
            $.ajax({
                method: "GET",
                url: "https://dapi.kakao.com/v3/search/book?target=title",
                data: { query : $("#bookname").val() },
                meta: {total_count : 3},
                headers : { Authorization: "KakaoAK 83e57bfbdada56463060d28b79957c5f"} //83e57bfbdada56463060d28b79957c5f
            })
                .done(function (msg) {
                    for(let i=0; i<3; i++){
                        console.log(msg.documents[i].title);
                        console.log(msg.documents[i].thumbnail);
                        $( "p" ).append( "<strong>" + msg.documents[i].title + "</strong>" );
                        $( "p" ).append( "<img src = '" + msg.documents[i].thumbnail + "'</src><br>" );

                    }

                });

        });
    });



</script>

<body>
<h1>도서추천</h1>
<input id = "bookname" value="" type = "text">
<button id = "search"> 검색 </button>
<p></p>
</body>

</html>