<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon"
          type="image/png"
          href="http://example.com/myicon.png">
    <meta charset="UTF-8">
    <title>메인 화면</title>
    <link href="/css/Login/login.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css"></head>
<body>

<!-- 네비게이션 바 -->
<div th:replace="~{navbar::nav}"></div>


<!-- 로그인 화면 -->
<div class="container">

    <div class="black">
        <img src="/img/logo.jpg" alt="logo Login" />
    </div>
    <div class="cacaca">
        <div class="Login">
            Login
        </div>
        <div class="bar-1"></div>

            ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

        <div class="row">
            <div class="button-container" th:unless="${userName}">
                <button class="sns-btn" type="button" onclick="location.href='/oauth2/authorization/google'">
                    <img class="sns-img" width="250" height="50" src="/img/google.png" alt="Google Login"/>
                </button>
            <div class="button-container" th:unless="${userName}">
                <button class="sns-btn" type="button" onclick="location.href='/oauth2/authorization/naver'">
                    <img class="sns-img" width="250" height="50" src="/img/naver.jpeg" alt="Naver Login"/>
                </button>
                <div class="button-container" th:unless="${userName}">
                <button class="sns-btn" type="button" onclick="location.href='/oauth2/authorization/kakao'">
                    <img class="sns-img" width="250" height="50" src="/img/kakao.jpeg" alt="Kakao Login"/>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<div th:replace="footer :: footer"></div>

</body>
</html>
