<!--로드맵 메인 페이지-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NCNK</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/css/roadmap/roadmap-main.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">

    <link rel="icon" href="/images/favicon.svg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>RoadMap Detail</title>
    <style>
        /*footer 스타일 변경*/
        footer{
            background-color: black;
            color: white;
        }
    </style>

    <!--스크롤 할 수 있게 해줌-->
<body style="overflow: scroll;" >
<!--navber.html 사용 -->
<div th:replace="~{navbar::nav}"></div>
<header>
    <a class="roadmap-title"><h1>Backend RoadMap</h1></a>
</header>


<div class="roadmap-container">
    <div class="main-category" ><img src="../../images/roadmapMain.svg" style="position: absolute; width: 1300px; top: 200px; left: 135px;">
        <a class="nav-link internet" href="#" data-id="1">internet</a>
        <a class="nav-link basic-fe" href="#" data-id="2">Basic FE</a>
        <a class="nav-link os" href="#" data-id="3">OS</a>
        <a class="nav-link language" href="#" data-id="4">Language</a>
        <a class="nav-link algorithm" href="#" data-id="5">Algorithm</a>
        <a class="nav-link using-git" href="#" data-id="6">Using Git</a>
        <a class="nav-link github-gitlab" href="#" data-id="7">Github & GitLab</a>
        <a class="nav-link relational-db" href="#" data-id="8">Relational DB</a>
        <a class="nav-link nosql-db" href="#" data-id="9">NoSQL DB</a>
        <a class="nav-link db-knowledge" href="#" data-id="10">DB Knowledge</a>
        <a class="nav-link apis" href="#" data-id="11">apis</a>
        <a class="nav-link framework" href="#" data-id="12">Framework</a>
        <a class="nav-link caching" href="#" data-id="13">Caching</a>
        <a class="nav-link web-security" href="#" data-id="14">Web Security</a>
        <a class="nav-link test" href="#" data-id="15">Test</a>
        <a class="nav-link ci-cd" href="#" data-id="16">CI/CD</a>
        <a class="nav-link design-pattern" href="#" data-id="17">Design Pattern</a>
        <a class="nav-link search-engines" href="#" data-id="18">Search Engines</a>
        <a class="nav-link container" href="#" data-id="19">Container</a>
        <a class="nav-link web-server" href="#" data-id="20">Web server</a>

    </div>
    <div class="sub-category">
        <img src="../../images/backendRoadMapLogo.svg" style="position: absolute;  width: 350px; top:430px; left: 110px;">
    <ul>
        <li class ="sub1">#IP #TCP/UDP #PORT #DNS<br>#HTTP #Cookie #Cache</li>
        <li class ="sub2">#HTML #CSS #JS</li>
        <li class ="sub3">#OS work #Process 관리<br>#Theads&Concurrentcy<br>#Basic Termain Commands #Memory 관리<br>#IPC #I/O 관리 #기본 네트워크 개념</li>
        <li class ="sub4">#Java #C#(posix Basic) #Python<br>#PHP #Ruby #Go #Rust #JS  </li>
        <li class ="sub5">#Bubble Sort #Selection Sort<br>#Insertion Sort #Quick Sort #Merge Sort ...</li>
        <li class ="sub6">#Git 사용법</li>
        <li class ="sub7">#GitHub #Gitlab</li>
        <li class ="sub8">#PostgreSQL #MySQL #Oracle</li>
        <li class ="sub9">#DynamoDB</li>
        <li class ="sub10">#Transaction #ACID #ORM #N + 1</li>
        <li class ="sub11">#Authentication #REST<br>#JSON API #SOAP</li>
        <li class ="sub12">#Spring #Django</li>
        <li class ="sub13">#CDN #Client Side<br>#Server Side<br>(Redis, Memcached) </li>
        <li class ="sub14">#HTTPS #CORS #SSL/TLS</li>
        <li class ="sub15">#Integration Test<br>#Unit Test #Functional Test</li>
        <li class ="sub16">#젠킨스</li>
        <li class ="sub17">#Design Pattern #GOF Design Pattern<br>#Domain Driven Design<br>#Test Driven Design #SOLID</li>
        <li class ="sub18">#Elastic search</li>
        <li class ="sub19">#Docker</li>
        <li class ="sub20">#Web server/WAS #Nginx</li>
    </ul>
    </div>
    <img src="../../images/flag.png" style="position: absolute; width:55px; top:1494px; left: 1148px;  ">
</div>

<!--footer.html 사용-->
<div th:replace="footer :: footer"></div>

<script th:inline="javascript">
    // 레벨 조건에 맞는 대분류 설정
    $(document).ready(function() {
        var level = [[${level}]];

        $('.nav-link').each(function() {
            var dataId = parseInt($(this).data('id'));

            if (level < dataId) {
                $(this).addClass('main-category-disabled-link');
                $(this).attr('href', '');
                $(this).click(function (event){
                    event.preventDefault();
                });
            } else if (level === dataId){
                $(this).addClass('main-category-blinking-link');
            }else{
                $(this).addClass('main-category-link');

            }

        });


        // roadMapSub에 선택한 dataId 전달
        $('.nav-link').click(function(e) {
            e.preventDefault();
            var dataId = $(this).data('id');
            if (level >= dataId) {
                window.location.href = 'roadmap/subcategory?dataId=' + dataId;
            }
        });
    });

</script>
</body>
</html>