<!--메인 페이지-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Roadmap</title>
    <link rel="stylesheet" href="/css/RoadMap/roadMapsub.css">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="icon" href="/images/favicon.svg">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/login.js"></script>
    <style>
        .navbar-nav a {
            text-decoration: none; /* 밑줄 제거 */
        }

    </style>
</head>
<body>
<div class ="main-container">
    <div class ="mainNav">
        <div class="maintitle">
            <a class="navbar-brand" aria-current="page"  href="/" ><img src ="/images/navNCNK.svg"></a>
            <div class="navbar-menu" id="menu">
                <ul class="navbar-nav">
                    <a class="navbar-link" href="/roadmap">RoadMap</a>
                    <a class="navbar-link" href="/practice">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Practice</a>
                    <a class="navbar-link" href="/codingtest">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coding Test</a>
                </ul>
            </div>
        </div>
        <div class="nav">

            <div class="profile"><a href="/myPage"><img th:if="${userPicture != null}" th:src="${userPicture}" alt="Profile Image" ></a></div>
            <div class="logoutbtn"><a  href="/logout">Logout</a></div>

        </div>
    </div>

    <header id="main-header"></header>

</div>
<script src="/js/home.js"></script>

<div style="background:black; display: flex; justify-content: space-between;">
    <div id="maincategory-name" style="margin-left: 20px;">
        <h1 id="categoryTitle" style="color:white; font-weight:1000; font-size:400%">Internet</h1>
        <h4 style="color:#9FBCE9"><I>Backend RoadMap</I></h4>
    </div>
    <div style="margin-right: 20px;">
        <div class="container">
            <button id="quizButton" popovertarget="mydiv1" style="background:black; border:none">
                <img src="/images/quiz.png" style="background:black; border:none; height:100px;">
            </button>
            <div popover="" id="mydiv1" style="border: 2px solid #D9D9D9; border-radius: 20px; position: fixed; top: 63%; left:20%; transform: translate(0, -50%); max-width: 1200px;">
                <h2>Quiz 풀기</h2>
                <hr>
                <div id="quiz">
                    <p>메인 카테고리 선택하세요.</p>
                </div>
            </div>
            <button id="bookButton" popovertarget="mydiv" style="background:black; border:none">
                <img src="/images/lamp.svg" style="background:black; border:none">
            </button>
            <script>
                $(document).ready(function() {
                    $('#bookButton').click(function() {
                        var currentImage = $(this).find('img').attr('src');
                        var newImage = currentImage === '/images/lamp.svg' ? '/images/aladdin.svg' : '/images/lamp.svg';
                        $(this).find('img').attr('src', newImage);
                    });

                    $('#mydiv button').click(function() {
                        $('#bookButton img').attr('src', '/images/lamp.svg');
                    });
                });
            </script>
            <div popover="" id="mydiv" style="border: 2px solid #D9D9D9; border-radius: 20px; position: fixed; top: 63%; left:60%; transform: translate(0, -50%); max-width: 500px;">
                <h2>도서 판매량 TOP3</h2>
                <hr>
                <div id="bookItems">
                    <p>메인 카테고리 선택하세요.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--서브 카테고리 페이지-->
<div id="layoutSidenav">
    <!-- mainCategory 선택 -->
    <div id="layoutSidenav_nav line-stamp">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu category">
                <div class="nav" style="background-color: black">
                    <div class="container">
                        <div class="wrapper" style="background-color: black">
                            <ul class="sessions">
                                <li><a class="nav-link Internet" href="#" data-id="1">Internet</a></li>
                                <li><a class="nav-link Basic FE" href="#" data-id="2">Basic FE</a></li>
                                <li><a class="nav-link OS" href="#" data-id="3">OS</a></li>
                                <li><a class="nav-link Language" href="#" data-id="4">Langugage</a></li>
                                <li><a class="nav-link Algorithm" href="#" data-id="5">Algorithm</a></li>
                                <li><a class="nav-link Using Git" href="#" data-id="6">Using Git</a></li>
                                <li><a class="nav-link GithubGitLab" href="#" data-id="7">Github & GitLab</a></li>
                                <li><a class="nav-link RelationalDB" href="#" data-id="8">Relational DB</a></li>
                                <li><a class="nav-link NoSQLDB" href="#" data-id="9">NoSQL DB</a></li>
                                <li><a class="nav-link DBKnowledge" href="#" data-id="10">DB Knowledge</a></li>
                                <li><a class="nav-link APIs" href="#" data-id="11">APIs</a></li>
                                <li><a class="nav-link Framework" href="#" data-id="12">Framework</a></li>
                                <li><a class="nav-link Caching" href="#" data-id="13">Caching</a></li>
                                <li><a class="nav-link WebSecurity" href="#" data-id="14">Web Security</a></li>
                                <li><a class="nav-link Test" href="#" data-id="15">Test</a></li>
                                <li><a class="nav-link CICD" href="#" data-id="16">CI/CD</a></li>
                                <li><a class="nav-link DesignPattern" href="#" data-id="17">Design Pattern</a></li>
                                <li><a class="nav-link SearchEngines" href="#" data-id="18">Search Engines</a></li>
                                <li><a class="nav-link Container" href="#" data-id="19">Container</a></li>
                                <li><a class="nav-link WebServer" href="#" data-id="20">Web server</a></li>
                            </ul>
                        </div>
                        <script>
                            $(document).ready(function() {
                                var level = [[${Level}]];

                                $('.nav-link').each(function() {
                                    var dataId = parseInt($(this).data('id'));

                                    if (level < dataId) {
                                        $(this).off('click');
                                    } else if (level === dataId){
                                        $(this).addClass('MainCategory-blinkingLink');
                                    } else {
                                        $(this).addClass('MainCategory-link');
                                    }
                                });
                            });

                        </script>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- subCategory 박스 -->
    <div id="layoutSidenav_content" style="background-color: #C0C0C0;">
        <main>
            <div class="container-fluid px-4" id="subcategory" style="background-color:transparent;">
                <section class="page-section portfolio" id="portfolio" style="background-color:transparent;">

                    <div class="container">
                        <div class="row justify-content-center" id="portfolioItems">

                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</div>

<!-- subCategory Modal창 -->
<div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="portfolioModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <!-- 좋아요 버튼 -->
                <div id='heart' class='button'></div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <hr>
            <div class="modal-body text-center pb-5" id="portfolioModalContent">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="quizModal" tabindex="-1" aria-labelledby="quizModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quizModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="quizModalBody"></div>
            <div class="modal-footer">
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>-->
                <button type="button" id="quizModalNextButton" class="btn btn-warning">확인</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var level = [[${Level}]];

        window.onpopstate = function(event) {
            var urlParams = new URLSearchParams(window.location.search);
            var dataId = urlParams.get('dataId');
            if (dataId > level) {
                console.log('Level이 부족하여 데이터를 가져오지 않습니다.');
                return;
            }
            fetchData(dataId);
        };

        $(document).ready(function() {
            // roadMapMain 에서 roadMapsub 로 넘어왔을 때 대분류 제목 변경
            var urlParams = new URLSearchParams(window.location.search);
            var dataId = urlParams.get('dataId');
            if (dataId !== null) {
                var categoryTitle = $('.nav-link[data-id="' + dataId + '"]').text();
                $('#categoryTitle').text(categoryTitle);
            }

            $('.nav-link').click(function(e) {
                e.preventDefault();
                var dataId = $(this).data('id');
                if (dataId > level) {
                    console.log('Level이 부족하여 데이터를 가져오지 않습니다.');
                    return;
                }
                // sub 내에서 대분류 이동시 대분류 제목 변경
                var categoryTitle = $(this).text(); // 클릭한 대분류 카테고리의 텍스트 가져오기
                var newUrl = window.location.origin + '/roadmap/subcategory?dataId=' + dataId;
                history.pushState({}, '', newUrl);
                fetchData(dataId);

                // 대분류 제목
                $('#categoryTitle').text(categoryTitle);

                // 뒤로가기시 로드맵 메인 페이지로 이동함
                window.onpopstate = function(event) {
                    window.location.href = '/roadmap';
                }
            });

            // ajax
            function fetchData(dataId) {
                if (dataId > level) {
                    console.log('Level이 부족하여 데이터를 가져오지 않습니다.');
                    return;
                }
                // AJAX
                $.getJSON('http://localhost:8080/api/roadmap/sub/' + dataId, function(data) {
                    console.log(data);
                    // subCategory 박스
                    $('#portfolioItems').empty();
                    data.subCategory.forEach(function(subCategory, index) {

                        var html = '<div class="portfolio-item" data-bs-toggle="modal" data-bs-target="#portfolioModal" data-index="' + index + '">';
                        html += '<div style="margin:20px; background-color: white; border: 2px solid #D9D9D9; border-radius: 10px; padding: 20px;">';
                        html += '<h2>' + subCategory.subDocsTitle + '</h2>';
                        html += '<p>' + subCategory.subDescription + '</p><hr>';
                        html += '<p>좋아요 ' + subCategory.likeCount + '</p>';
                        html += '</div>';
                        html += '</div>';
                        var $portfolioItem = $(html);

                        $portfolioItem.click(function() {
                            var index = $(this).data('index');

                            // 설명 html 출력
                            $.get(data.url, function(htmlData) {
                                console.log(data.url);
                                var selectedContent = $(htmlData).find('div.' + index).html();
                                $('#portfolioModalContent').html(selectedContent);
                            });

                            // console.log(index);
                            $(document).ready(function() {
                                // 좋아요 버튼 클릭 이벤트
                                $('#heart').click(function() {
                                    // 좋아요 토글 요청 보내기
                                    toggleLike(index);
                                    // 좋아요 상태 변경
                                    $(this).toggleClass('clicked');
                                });

                                // 좋아요 토글 함수
                                function toggleLike(subCategoryId) {
                                    // 백엔드로 좋아요 토글 요청 보내기
                                    $.ajax({
                                        url: '/api/like/' + index + 1,
                                        type: 'POST',
                                        success: function(response) {
                                            console.log(response);
                                        },
                                        error: function(xhr, status, error) {
                                            console.error(xhr.responseText);
                                        }
                                    });
                                }
                            });

                            $('#portfolioModal').modal('show');

                        });

                        $('#portfolioItems').append($portfolioItem);

                    });

                    // 도서추천
                    $('#bookItems').empty();
                    data.recommendBookDtos.forEach(function(book, index) {
                        var html = '<div style="width:700px;">';
                        html += '<div class="book1">';
                        html += '<div class="book2"><img width="100px"; height="150" src="' + book.bookImage + '" alt="' + book.bookTitle + '"></div>';
                        html += '<div class="book2" style="width:250px; text-align: left; padding-left:10px; font-weight: bold ;">';
                        html += '<p>' + book.bookTitle + '</p>';
                        html += '<p>' + book.bookAuthor + '</p>';
                        html += '<p>' + book.publisher + '</p></div></div>';
                        html += '</div>';
                        var $bookItems = $(html);

                        $('#bookItems').append($bookItems);
                    });

                });

                $(document).ready(function() {
                    $('#quizButton').click(function() {
                        // AJAX를 사용하여 JSON 데이터 가져오기
                        $.getJSON('/api/quiz/' + dataId, function(data) {
                            var quizHtml = '<div>';
                            data.quizzes.forEach(function(quiz, index) {
                                var quiznum = index + 1;
                                quizHtml += '<div>';
                                quizHtml += '<br><h4>' + "Q" + quiznum + ")" + '</h4>';
                                quizHtml += '<p>' + quiz.quizContext + '</p>';
                                // O, X 라디오 버튼 추가
                                quizHtml += '<label><input type="radio" name="quiz' + index + '" value="O"> O&nbsp;&nbsp; </label>';
                                quizHtml += '<label><input type="radio" name="quiz' + index + '" value="X"> X</label></br>';
                                quizHtml += '</div>';
                            });
                            quizHtml += '<br></div>';

                            // 제출 버튼
                            quizHtml += '<div style="margin-top: 10px;"><button id="submitQuizButton" style="background-color: black; color: white; border: none; padding: 10px 20px;">SUBMIT</button><br></div>';

                            // 팝오버 내용 업데이트
                            $('#mydiv1 #quiz').html(quizHtml);

                            // 팝오버 열기
                            $('#mydiv1').show();
                        });
                    });

                    // 제출 버튼 클릭 이벤트
                    $(document).on('click', '#submitQuizButton', function() {
                        var userAnswers = [];

                        // 각 퀴즈의 답안을 가져와서 배열에 저장
                        $('input[type="radio"]:checked').each(function() {
                            userAnswers.push($(this).val());
                        });

                        // AJAX를 사용하여 서버에 답안 제출
                        $.ajax({
                            url: '/api/quiz/grade',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(userAnswers),
                            success: function(response) {
                                if (response.passed) {
                                    // 퀴즈 통과 모달
                                    $('#quizModalTitle').text('퀴즈 통과');
                                    $('#quizModalBody').text('퀴즈 통과. 다음 단계로 이동.');
                                    $('#quizModal').modal('show');

                                    // 다음 step으로 이동하는 버튼 클릭 이벤트 처리
                                    $('#quizModalNextButton').click(function() {
                                        var urlParams = new URLSearchParams(window.location.search);
                                        var dataId = parseInt(urlParams.get('dataId'));
                                        var nextDataId = dataId + 1;
                                        var nextUrl = window.location.origin + '/roadmap/subcategory?dataId=' + nextDataId;
                                        window.location.href = nextUrl;
                                    });
                                } else {
                                    // 퀴즈 실패 모달
                                    $('#quizModalTitle').text('퀴즈 실패');
                                    $('#quizModalBody').text('퀴즈 실패. 다시 시도.');
                                    $('#quizModal').modal('show');

                                    // 다시 시도하는 버튼 클릭 이벤트 처리
                                    $('#quizModalNextButton').click(function() {
                                        location.reload();
                                    });
                                }
                            },
                            error: function(xhr, status, error) {
                                console.error(xhr.responseText);
                                // 오류 메시지 모달
                                $('#quizModalTitle').text('오류 발생');
                                $('#quizModalBody').text('퀴즈 제출 중 오류가 발생했습니다.');
                                $('#quizModal').modal('show');

                                // 새로고침 버튼 클릭 이벤트 처리
                                $('#quizModalNextButton').click(function() {
                                    location.reload();
                                });
                            }

                        });

                    });
                });

            }
            // RoadMapMain 에서 대분류 클릭 정보 받아옴
            var urlParams = new URLSearchParams(window.location.search);
            var dataId = urlParams.get('dataId');
            if (dataId !== null) {
                fetchData(dataId);
            }

        });
    });


</script>

</body>
</html>